---
import Card from '@/components/common/Card.astro';
import Code from '@/components/common/Code.astro';

export const contentOrder = 1;
export const id = 'clientWidth_Height';
const code = `const element = document.querySelector('.box');
console.log(element.clientWidth, element.clientHeight)
`;
---

<Card id={id}>
  <h2>element.clientWidth() / element.clientHeightについて</h2>
  <p>対象の要素の幅・高さを取得することができる。</p>
  <Code code={code} />
  <div class='box'>BOX</div>
  <button type='button'>取得する</button>
  <output></output>
</Card>

<style>
  .box {
    width: 100px;
    height: 100px;
    background: #ccc;
    text-align: center;
    align-content: center;
    font-size: 0.875rem;
    font-weight: 700;
  }
</style>

<script>
  const root = document.getElementById('clientWidth_Height');
  if (root) {
    const target = root.querySelector('.box');
    const button = root.querySelector('button');
    const output = root.querySelector('output');

    if (target && button && output) {
      let unit = 'px';
      button.addEventListener('click', () => {
        output.textContent = [
          `幅: ${target.clientWidth}${unit}`,
          `高さ: ${target.clientHeight}${unit}`,
        ].join('\n');
      });
    }
  }
</script>
